<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gomac Knowledgebase</title>

    <!-- LOADING STYLESHEETS -->
    <link href="~/Home/css/bootstrap.css" rel="stylesheet">
    <link href="~/Home/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Home/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid featured-area-white-border">
        <partial name="_LoginPartial" />
      
    </div>
    <!-- LOGO -->
    <div class="container">
        <div class="row">
            <div class="header">
                <div class="logo">
                    <img src="~/Home/images/logo.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGO-->
    <!-- TOP NAVIGATION -->
    <div class="container-fluid">
        <div class="navigation">
            <div class="row">
                <ul class="topnav">
                    <li></li>
                    <li>
                        <a href="index.html">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>
                    <li>
                        <a href="knowledge-base.html">
                            <i class="fa fa-book"></i> Knowledge Base
                        </a>
                    </li>
                    <li>
                        <a href="articles.html">
                            <i class="fa fa-file-text-o"></i> Articles
                        </a>
                    </li>
                    <li>
                        <a href="faq.html">
                            <i class="fa fa-lightbulb-o"></i> FAQ
                        </a>
                    </li>
                    <li class="icon">
                        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    <!-- FOOTER -->
    <div class="container-fluid footer marg30">
        <div class="container">
            <!-- FOOTER COLUMN ONE -->
            <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
                <div class="panel-transparent">
                    <div class="footer-heading">How it works</div>
                    <div class="footer-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                            ut laoreet dolore magna aliquam erat volutpat.
                        </p>
                        <p>
                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                            ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
            <!-- END FOOTER COLUMN ONE -->
            <!-- FOOTER COLUMN TWO -->
            <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
                <div class="panel-transparent">
                    <div class="footer-heading">Categories</div>
                    <div class="footer-body">
                        <ul>
                            <li>
                                <a href="single-category.html">General</a>
                            </li>
                            <li>
                                <a href="single-category.html">Getting Started</a>
                            </li>
                            <li>
                                <a href="single-category.html">Account Support</a>
                            </li>
                            <li>
                                <a href="single-category.html">Guides</a>
                            </li>
                            <li>
                                <a href="single-category.html">Payment &amp; Billing</a>
                            </li>
                            <li>
                                <a href="single-category.html">Misc</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END FOOTER COLUMN TWO -->
            <!-- FOOTER COLUMN THREE -->
            <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
                <div class="panel-transparent">
                    <div class="footer-heading">Popular Articles</div>
                    <div class="footer-body">
                        <ul>
                            <li>
                                <a href="single-article.html">How to change account password</a>
                            </li>
                            <li>
                                <a href="single-article.html">How to edit order details</a>
                            </li>
                            <li>
                                <a href="single-article.html">Add new user</a>
                            </li>
                            <li>
                                <a href="single-article.html">Change customer details</a>
                            </li>
                            <li>
                                <a href="single-article.html">Lookup existing customer in order form</a>
                            </li>
                            <li>
                                <a href="single-article.html">How do I reset my password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END FOOTER COLUMN THREE -->
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- COPYRIGHT INFO -->
    <div class="container-fluid footer-copyright marg30">
        <div class="container">
            <div class="pull-left">
                Copyright © 2018 Sunny Gohil</a>
            </div>
            <div class="pull-right">
                <i class="fa fa-facebook"></i> &nbsp;
                <i class="fa fa-twitter"></i> &nbsp;
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT INFO -->
    <!-- LOADING MAIN JAVASCRIPT -->
    <script src="~/Home/js/jquery-2.2.4.min.~/Home/js"></script>
    <script src="~/Home/js/main.~/Home/js"></script>
    <script src="~/Home/js/bootstrap.min.~/Home/js"></script>
    <script src='https://cdn.rawgit.com/VPenkov/okayNav/master/app/~/Home/js/jquery.okayNav.~/Home/js'></script>
</body>

</html>
@RenderSection("Scripts", required: false)
