@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/login and register/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/login and register/css/style.css">
</head>
<body>
 
        <section class="signup" style=" margin-top: 40px;">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.FirstName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" asp-for="Input.FirstName" id="name" placeholder="First Name" required />
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Input.LastName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" asp-for="Input.LastName" id="lastname" placeholder="Last Name" required/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" asp-for="Input.Email" id="email" placeholder="Your Email" required />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" asp-for="Input.Password" id="pass" placeholder="Password" required/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" asp-for="Input.ConfirmPassword" id="re_pass" placeholder="Repeat your password" required/>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/login and register/images/signup-image.jpg" alt="sing up image"></figure>
                        <a asp-area="Identity" asp-page="/Account/ogin" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

              <!-- JS -->
            <script src="~/login and register/vendor/jquery/jquery.min.js"></script>
            <script src="~/login and register/js/main.js"></script>

            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
</body>
